<div class="page" data-name="about">
        <div class="navbar">
          <div class="navbar-inner sliding">
            <div class="left">
              <a href="#" class="link back">
                <i class="icon icon-back"></i>
                <span class="ios-only">Back</span>
              </a>
            </div>
            <div class="title">About</div>
          </div>
        </div>
        <div class="page-content">
          <div class="block-title">About Club Pizza</div>
          <div class="block block-strong">
            <p>Club Pizza is a small app that allows a user to view our top picked recipes from the web for an easy to follow recipe guide</p>
            <p><strong>Version:</strong> v1.0.2</p>
            <p><strong>creator:</strong> Toby Jennings</p>
          </div>
        </div>
      </div>
    </div>
</div>
      